html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url('./imgs/violetsky-logo.jpg');
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}